@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #1e293b;
}

.tables_header {
    background-color: white;
    padding: 12px;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
    max-width: 100%;
    overflow: hidden;
}

th,
td {
    padding: 2px 8px;
    text-align: left;
    word-wrap: break-all;
    font-size: 10px;
}

tr button {
    padding: 4px 15px;
    font-size: 10px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 800px;
    padding: 20px;
    margin: 30px 0;
}

button {
    padding: 8px 12px;
    background-color: #4f46e5;
    color: #e5e7eb;
    font-size: 12px;
    text-transform: uppercase;
}

.remove_row {
    background-color: black;
}

.edit_row {
    background-color: #475569;
}

.form_element {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#breadcrumbs button {
    font-size: 10px;
}

#breadcrumbs button:nth-child(2) {
    background-color: #94a3b8;
}

#breadcrumbs button:nth-child(3) {
    background-color: #cbd5e1;
    color: #475569;
}

/* bg-fuchsia-100 flex flex-col gap-1 cursor-pointer font-bold text text-slate-800 p-5  duration-300 border-2 border-fuchsia-100 hover:border-green-300 hover:bg-transparent */
.db_card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 16px;
    border: 2px solid #f5d0fe;
    background-color: #fbcfe8;
    color: #334155;
    transition: ease all 0.6s;
}

.db_card p {
    font-weight: normal;
    font-size: 12px;
    color: #9333ea;
}

.db_card p:nth-child(2) {
    color: #db2777;
}

.db_card:hover {
    border-color: #bbf7d0;
    background-color: transparent;
}

.side_container {
    border: 1px solid;
}

.side_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.side_drop {
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.db_listed {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}

.table_listed {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    font-size: 10px;
}
