@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #1e293b;
}

.tables_header {
    background-color: white;
    padding: 12px;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
    max-width: 100%;
    overflow: hidden;
}

th,
td {
    padding: 2px 8px;
    text-align: left;
    word-wrap: break-all;
    font-size: 10px;
}

tr button {
    padding: 4px 15px;
    font-size: 10px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 800px;
    padding: 20px;
    margin: 30px 0;
}

button {
    padding: 8px 12px;
    background-color: #4f46e5;
    color: #e5e7eb;
    font-size: 12px;
    text-transform: uppercase;
}

.remove_row {
    background-color: black;
}

.edit_row {
    background-color: #475569;
}

.form_element {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
